export(CLIfile)
export(CLIargs)
export(CLI)
export(CLIArgumentParser)
export(parseCMD)
export(rd_list.tags)
export(cli_stop)
export(cli_warning)
export(cli_message)
export(cli_log)
export(cli_smessage)
export(cli_qsub)
import(yaml)
import(argparse)
import(proto)
importFrom(methods,is)
importFrom(tools,Rd_db)
importFrom(tools,Rd2txt)
importFrom(tools,parse_Rd)
