export(write.yaml)
export(read.yaml)
export(cli_arg)
export(cli_self)
export(cli_spin)
export(CLIfile)
export(CLIargs)
export(CLI)
export(CLIArgumentParser)
export(parseCMD)
export(rd_list.tags)
export(cli_stop)
export(cli_warning)
export(cli_smessage)
export(cli_log)
export(cli_message)
export(cli_qsub)
import(yaml)
import(argparse)
import(proto)
importFrom(digest,digest)
importFrom(tools,file_path_sans_ext)
importFrom(tools,file_ext)
importFrom(methods,is)
importFrom(tools,Rd_db)
importFrom(tools,Rd2txt)
importFrom(tools,parse_Rd)
